.app {
    height: 100vh;
    padding: 2.5rem 1.0rem 1rem;

    background-color: #1b1c1c;
    color: #fefafe;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}