.header {
    color: #fefafe;
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
}

.username {
    color: #e2e41d;
}

img {
    border-radius: 50%;
    border: 2px solid #e2e41d;
    max-height: 80px;
}