.mainSection {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    justify-content: space-evenly;
    gap: 2rem;
}

.strength {
    width: 100%;
    height: 72px;

    border: none;
    border-radius: .6rem;
    padding: 0.5rem;
    background-color: #323333;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    font-size: 20px;
}

.progressBar {
    height: 72px;
    width: 100%;
    /* border: 1px solid #fffaff; */
    border-radius: 0.6rem;
    padding: .1rem 0.5rem;
    background-color: #323333;


    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    flex: initial;
}

.randomPassword {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;

    div {
        height: 56px;
        min-width: 200px;
        padding-left: 1rem;

        border-radius: .6rem;
        background-color: #323333;

        font-size: 16px;
        text-align: start;
        place-content: center;

        flex: auto;
    }

    .copyButton {
        height: 56px;
        width: 64px;
        border: 1px solid #323333;
        border-radius: .6rem;
        background-color: #323333;
        color: #fffaff;

        cursor: pointer;
        transition: 0.4s;
    }

    .copyButton:hover {
        border: 1px solid #e2e41d;
        color: #e2e41d;
    }
}

.passwordLengthDiv {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
/* O estilo abaixo é aplicado ao background do input range */
.passwordLengthInput {
    min-width: 200px;
    height: 24px;
    border-radius: .4rem;
    padding: .5rem;

    /* appearance: reseta os estilos iniciais do elemento. */
    appearance: none; 
    background-color: #323333;
    outline: none;
    flex: auto;
}

/* O estilo abaixo é aplicado à bolinha do input range */
/* O webkit abaixo só é aplicado ao Chrome, Opera e Edge */
.passwordLengthInput::-webkit-slider-thumb {
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #e2e41d;
}

.passwordLength{
    height: 56px;
    width: 64px;
    border: none;
    border-radius: .6rem;
    background-color: #323333;
    color: #fffaff;

    text-align: center;
    place-content: center;
}

.passwordOptionsToggle {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.0rem;
}






/* toggle switch do stack overflow */
.toggle {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 1rem;
    align-items: center;
}
.toggleInput {
    display: none;
}
.toggleLabel {
    position: relative;
    display: block;
    height: 16px;
    width: 56px;
    /* EDITAR O PADDING PARA CENTRALIZAR A BOLINHA */
    padding: .8rem;

    border: 1px solid #323333;
    border-radius: .8rem;
    background-color: #323333;
    cursor: pointer;
    transition: all 0.3s ease;
}
.toggleLabel:after {
    position: absolute;
    left: 1px;
    top: 2px;
    display: block;
    height: 22px;
    width: 22px;
    border-radius: 1rem;
    background: #fffaff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: '';
    transition: all 0.3s ease;
}
.toggleLabel:active:after {
    transform: scale(1.15, 0.85);
    background-color: #323333;
    border: 1px solid #fffaff;
}

.toggleInput:checked ~ label {
    background-color: #e2e41d;
    border-color: #323333;
}
.toggleInput:checked ~ label:after {
    margin-left: 29px;
}
.toggleInput:disabled ~ label {
    background-color: #323333;
    pointer-events: none;
}
.toggleInput:disabled ~ label::after {
    background-color: rgba(255, 255, 255, 0.3);
}

.newPasswordDiv {
    width: 100%;
    height: 48px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.newPasswordButton {
    height: 56px;
    width: 200px;

    border: 2px solid #e2e41d;
    border-radius: .6rem;
    background-color: #e2e41d;
    color: #323333;

    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.05s;
}

.newPasswordButton:hover {
    padding-bottom: 0.25rem;
}