footer {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: end;
    font-size: 12px;
    font-weight: 500;
}

.codedBy {
    width: 40%;
    border-bottom: 1px solid #fefafe;
    padding-bottom: .2rem;
    text-align: center;
}

.links {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    gap: 1rem;
}

a {
    border: 1px solid #fefafe;
    border-radius: .2rem;
    padding: .2rem;
    background-color: #fefafe;
    color: #323333;

    text-align: center;
    place-content: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}